# ==============================================================================
# Ansible Tasks: networkd-debian.yaml
# ------------------------------------------------------------------------------
# Purpose:   Configure systemd-networkd for Debian-based systems.
#            - Detects the primary wired interface using networkctl.
#            - Sets a fact for use in subsequent tasks.
#            - Deploys a templated networkd configuration for the detected interface.
# Usage:     Once `10-{{ primary_wired_interface }}.network` is deployed, use the following
#            systemd dependencies to ensure the interface is up before binding to a static IP:
#              - After=systemd-networkd-wait-online.service
#              - Requires=systemd-networkd-wait-online.service
# Managed:   This file is managed by Ansible. Manual edits may be overwritten.
# ==============================================================================

[Match]
Name={{ primary_wired_interface }}

[Network]
DHCP=ipv4
RequiredForOnline=routable